<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAavOSZE4tlUZlLic1AkSXFCBBXUwT69oI</string>
	<key>GCM_SENDER_ID</key>
	<string>607718838860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>py.com.cpb.app</string>
	<key>PROJECT_ID</key>
	<string>cpbpy-c79c5</string>
	<key>STORAGE_BUCKET</key>
	<string>cpbpy-c79c5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607718838860:ios:835545fa120d7985415ae9</string>
</dict>
</plist>
